/* Le CSS placé ici sera appliqué à tous les habillages. */

/*
=============== STYLE CARTOWIKI =================
*/

/* ---- Style adaptatif ---- */

/* Taille du logo */
h1.title-name img{
  max-width: 85px!important;
  max-height: 40px!important;
}

/* Taille des infobox */
.infobox_v3{
    max-width: 100%!important;
  }
@media only screen and (max-width : 720px) {
  .infobox_v3 {
    width: 100%!important;
    }
}

/* Taille des graphiques */
svg {
  max-width: 100%;
}

/* Taille des formulaires*/
.inputSpan {
    width: 100%!important;
}
div[id$="treeinput"]{
    width: 450px!important;
}
.createboxInput {
    width:100%!important;
    min-width: 100px!important;
}
.mw-ui-input>ul, .dynatree-container{
    margin: 0!important;
}

/* 
=============== COULEURS CARTOWIKI ==============
*/

/* ---- Couleurs de base ---- */

/* Liens */
a, a.new {color:black}
a:hover {color: darkblue;}
a.new:hover {color: firebrick;}

/* Boutons */
button.search,
input[type="submit"] {
  border-color: gainsboro;
  background-color: gainsboro;
  color: black;
}

/* Barre de menus supérieure */
#top-bar-left a{
  background-color: black;
  background-repeat: no-repeat;
  background-position: center left;
}
.top-bar input {
  max-width: 120px;
}
.top-bar-section li a:not(.button) {
  padding-right: 10px;
  padding-left: 10px;
}

/* Couleur neutre = slategrey */
h4.namespace
{
  background-color: slategrey;
}

/* Couche stratégique = gold */
*[class~="page-Catégorie_Objectifs"] #p-Strat\.C3\.A9gique>a,
.ns-3008 #p-Strat\.C3\.A9gique>a,
#p-Strat\.C3\.A9gique>a:hover
{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="1 1 8 8" fill="gold"><path d="M4 0c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 1c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm2 1l-3 1-1 3 3-1 1-3zm-2 1.5c.28 0 .5.22.5.5s-.22.5-.5.5-.5-.22-.5-.5.22-.5.5-.5z"/></svg>');
}

/* Couche métier = dodgerblue */
*[class~="page-Catégorie_Processus"] h4.namespace,
*[class~="page-Catégorie_Étape_de_processus"] h4.namespace,
*[class~="page-Catégorie_Donnée"] h4.namespace,
*[class~="page-Formulaire_Composant_logiciel"] h4.namespace,
.ns-3008 h4.namespace,
.ns-3022 h4.namespace,
a.label[title="Catégorie:Processus"],
a.label[title="Catégorie:Donnée"]
{background-color: dodgerblue!important;}

*[class~="page-Catégorie_Processus"] #p-M\.C3\.A9tier>a,
*[class~="page-Catégorie_Étape_de_processus"] #p-M\.C3\.A9tier>a,
*[class~="page-Catégorie_Donnée"] #p-M\.C3\.A9tier>a,
*[class~="page-Formulaire_Composant_logiciel"] #p-M\.C3\.A9tier>a,
.ns-3008 #p-M\.C3\.A9tier>a,
.ns-3022 #p-M\.C3\.A9tier>a,
#p-M\.C3\.A9tier>a:hover
{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="1 1 8 8" fill="dodgerblue"><path d="M1.5 0c-.83 0-1.5.67-1.5 1.5 0 .66.41 1.2 1 1.41v2.19c-.59.2-1 .75-1 1.41 0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5c0-.6-.34-1.1-.84-1.34.09-.09.21-.16.34-.16h2c.82 0 1.5-.68 1.5-1.5v-.59c.59-.2 1-.75 1-1.41 0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5c0 .66.41 1.2 1 1.41v.59c0 .28-.22.5-.5.5h-2c-.17 0-.35.04-.5.09v-1.19c.59-.2 1-.75 1-1.41 0-.83-.67-1.5-1.5-1.5z"/></svg>');
}

/* Couche fonctionnelle = darkmagenta */
*[class*="page-Catégorie_Domaine_fonctionnel"] h4.namespace,
*[class*="page-Catégorie_Zone"] h4.namespace,
*[class*="page-Catégorie_Quartier"] h4.namespace,
*[class*="page-Catégorie_Îlot"] h4.namespace,
*[class*="page-Catégorie_Fonctionnalité"] h4.namespace,
[class~="page-Spécial_BrowseData_POS"] h4.namespace,
a.label[title*="Catégorie:Domaine fonctionnel"],
a.label[title*="Catégorie:Zone"],
a.label[title*="Catégorie:Quartier"],
a.label[title*="Catégorie:Îlot"],
a.label[title*="Catégorie:Fonctionnalité"]
{background-color: darkmagenta!important;}

*[class*="page-Catégorie_Domaine_fonctionnel"] #p-Fonctionnel>a,
*[class*="page-Catégorie_Zone"] #p-Fonctionnel>a,
*[class*="page-Catégorie_Quartier"] #p-Fonctionnel>a,
*[class*="page-Catégorie_Îlot"] #p-Fonctionnel>a,
*[class*="page-Catégorie_Fonctionnalité"] #p-Fonctionnel>a,
#p-Fonctionnel>a:hover
{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="1 1 8 8" fill="darkmagenta"><path d="M0 0v4h4v-4h-4zm5 2v3h-3v1h4v-4h-1zm2 2v3h-3v1h4v-4h-1z"/></svg>');}

/* Couche applicative = crimson */
*[class~="page-Catégorie_Application"] h4.namespace,
*[class~="page-Formulaire_Application"] h4.namespace,
*[class~="page-Catégorie_Composant_logiciel"] h4.namespace,
*[class~="page-Formulaire_Composant_logiciel"] h4.namespace,
*[class~="page-Catégorie_Flux"] h4.namespace,
*[class~="page-Formulaire_Flux"] h4.namespace,
.ns-3000 h4.namespace,
.ns-3002 h4.namespace,
.ns-3010 h4.namespace,
a.label[title="Catégorie:Application"],
a.label[title="Catégorie:Composant logiciel"],
a.label[title="Catégorie:Flux"]
{background-color: crimson!important;}

*[class~="page-Catégorie_Application"] #p-Applicatif>a,
*[class~="page-Formulaire_Application"] #p-Applicatif>a,
*[class~="page-Catégorie_Composant_logiciel"] #p-Applicatif>a,
*[class~="page-Formulaire_Composant_logiciel"] #p-Applicatif>a,
*[class~="page-Catégorie_Flux"] #p-Applicatif>a,
*[class~="page-Formulaire_Flux"] #p-Applicatif>a,
.ns-3000 #p-Applicatif>a,
.ns-3002 #p-Applicatif>a,
.ns-3010 #p-Applicatif>a,
#p-Applicatif>a:hover
{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="1 1 8 8" fill="crimson"><path d="M.34 0a.5.5 0 0 0-.34.5v7a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.09 0 .5.5 0 0 0-.06 0zm1.16 1c.28 0 .5.22.5.5s-.22.5-.5.5-.5-.22-.5-.5.22-.5.5-.5zm2 0h3c.28 0 .5.22.5.5s-.22.5-.5.5h-3c-.28 0-.5-.22-.5-.5s.22-.5.5-.5zm-2.5 2h6v4h-6v-4z"/></svg>');
}

/* Couche infrastructure = limegreen */
*[class~="page-Catégorie_Matériel"] h4.namespace,
*[class~="page-Catégorie_Salle_informatique"] h4.namespace,
*[class~="page-Catégorie_Baie_de_stockage"] h4.namespace,
*[class~="page-Catégorie_Commutateur"] h4.namespace,
*[class~="page-Catégorie_Machine_virtuelle"] h4.namespace,
*[class~="page-Catégorie_Machine_physique"] h4.namespace,
*[class~="page-Catégorie_Onduleur"] h4.namespace,
*[class~="page-Formulaire_Matériel"] h4.namespace,
.ns-3012 h4.namespace,
.ns-3004 h4.namespace,
a.label[title="Catégorie:Matériel"],
a.label[title="Catégorie:Salle informatique"],
a.label[title="Catégorie:Baie de stockage"],
a.label[title="Catégorie:Commutateur"],
a.label[title="Catégorie:Machine virtuelle"],
a.label[title="Catégorie:Machine physique"],
a.label[title="Catégorie:Onduleur"]
{background-color: limegreen!important;}

*[class~="page-Catégorie_Matériel"] #p-Infrastructure>a,
*[class~="page-Catégorie_Salle_informatique"] #p-Infrastructure>a,
*[class~="page-Catégorie_Baie_de_stockage"] #p-Infrastructure>a,
*[class~="page-Catégorie_Commutateur"] #p-Infrastructure>a,
*[class~="page-Catégorie_Machine_virtuelle"] #p-Infrastructure>a,
*[class~="page-Catégorie_Machine_physique"] #p-Infrastructure>a,
*[class~="page-Catégorie_Onduleur"] #p-Infrastructure>a,
*[class~="page-Formulaire_Matériel"] #p-Infrastructure>a,
.ns-3012 #p-Infrastructure>a,
.ns-3004 #p-Infrastructure>a,
#p-Infrastructure>a:hover{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="1 1 8 8" fill="limegreen"><path d="M.19 0c-.11 0-.19.08-.19.19v3.31c0 .28.22.5.5.5h6c.28 0 .5-.22.5-.5v-3.31c0-.11-.08-.19-.19-.19h-6.63zm-.19 4.91v2.91c0 .11.08.19.19.19h6.63c.11 0 .19-.08.19-.19v-2.91c-.16.06-.32.09-.5.09h-6c-.18 0-.34-.04-.5-.09zm5.5 1.09c.28 0 .5.22.5.5s-.22.5-.5.5-.5-.22-.5-.5.22-.5.5-.5z"/></svg>');}

/* Couche organigramme = sienna */
*[class~="page-Catégorie_Personne"] h4.namespace,
*[class~="page-Formulaire_Personne"] h4.namespace,
*[class~="page-Catégorie_Structure"] h4.namespace,
*[class~="page-Catégorie_Métier"] h4.namespace,
.ns-3006 h4.namespace,
a.label[title="Catégorie:Personne"]
{background-color: sienna!important;}

*[class~="page-Catégorie_Personne"] #p-Organigramme>a,
*[class~="page-Formulaire_Personne"] #p-Organigramme>a,
.ns-3006 #p-Organigramme>a,
#p-Organigramme>a:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="1 1 8 8" fill="sienna"><path d="M5.5 0c-.51 0-.95.35-1.22.88.45.54.72 1.28.72 2.13 0 .29-.03.55-.09.81.19.11.38.19.59.19.83 0 1.5-.9 1.5-2s-.67-2-1.5-2zm-3 1c-.83 0-1.5.9-1.5 2s.67 2 1.5 2 1.5-.9 1.5-2-.67-2-1.5-2zm4.75 3.16c-.43.51-1.02.82-1.69.84.27.38.44.84.44 1.34v.66h2v-1.66c0-.52-.31-.97-.75-1.19zm-6.5 1c-.44.22-.75.67-.75 1.19v1.66h5v-1.66c0-.52-.31-.97-.75-1.19-.45.53-1.06.84-1.75.84s-1.3-.32-1.75-.84z"/></svg>');}
  
/* Suppression des couleurs en trop */
.patrollink a{
  background-color: unset!important;
}

/*
========== VUE COUVERTURE FONCTIONNELLE =========
*/

.Graph_couverture_fonctionnelle {
	font-size:small
}
.zone {
	border: 1px solid navy;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px 1px 1px 0px;
	padding: 0 .5em 0 .5em;
	background-color: steelblue;
	margin-bottom: .5em;
}
.zone>.titre {
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	color: white;
}
.quartier {
	border: 1px solid grey;
	border-radius: 10px 10px 0px 00px;
	box-shadow: 0px 1px 1px 0px;
	padding: 0 .5em 0 .5em;
	background-color: #eee;
	margin-bottom: .5em;
}
.quartier>.titre {
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
}
.func1 {
	border: 1px solid darkmagenta;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px 1px 1px 0px;
	padding: 0 .5em 0 .5em;
	background-color: thistle;
	margin-bottom: .5em;
	overflow: hidden;
}
.func1>.titre {
	font-weight: bold;
	text-align: center;
}
.func2 {
	display: table;
	margin:0 .5em .5em 0;
	border: 1px solid darkmagenta;
	border-radius: 0px 10px 0px 10px;
	box-shadow: 0px 1px 1px 0px;
	background: white;
	width: 8em;
	height: 4em;
	text-align: center;
	float: left;
}
.func2>.titre, .func2>.element {
	display: table-row;
}
.func2>.titre>.contenu {
	display: table-cell;
	vertical-align: middle;
}
.func2>.element>.application {
	display: table-cell;
	border-top: 1px dotted gold;
	background-color: rgba(220,20,60,0.5);
}
.func2>.element>.processus {
	display: table-cell;
	border-top: 1px dotted gold;
	background-color: rgba(30,144,255,0.5);
}
.clear {
	clear: left;
	height: 0px;
}	

/*
===================== VUE POS ======================
*/
.posquartier {
  float:left;
  margin:5px;
  padding:5px;
  width:200px;
  font-weight: normal;
  border: 1px dotted grey;
}

[class~="Zone:Échange"] {
  background-image: linear-gradient(#8FBC8F, #FFF);
}
[class~="Zone:Pilotage"] {
  background-image: linear-gradient(#D8BFD8, #FFF);
}
[class~="Zone:Opération"] {
  background-image: linear-gradient(#ADD8E6, #FFF);
}
[class~="Zone:Référentiel"] {
  background-image: linear-gradient(#FFD700, #FFF);
}
[class~="Zone:Support"] {
  background-image: linear-gradient(#4682B4, #FFF);
}

/* rajouter les icones du statut à chaque élément */

.pos-quartier td a:after {
    content:", "
}
.pos-quartier td a:last-child:after {
    content:"";
}

[class~="En_projet"]:before
{
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 10 10" fill="gold"><path d="M4 0c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 1c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 1c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 1c.56 0 1 .44 1 1s-.44 1-1 1-1-.44-1-1 .44-1 1-1z" /></svg>') no-repeat;
}
[class~="En_projet"] {
  display : inline-block;
}

[class~="Arrêt_programmé"]:before
{
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 10 10" fill="crimson"><path d="M4 0c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 1c.66 0 1.26.21 1.75.56l-4.19 4.19c-.35-.49-.56-1.09-.56-1.75 0-1.66 1.34-3 3-3zm2.44 1.25c.35.49.56 1.09.56 1.75 0 1.66-1.34 3-3 3-.66 0-1.26-.21-1.75-.56l4.19-4.19z" /></svg>') no-repeat;
}
[class~="Arrêt_programmé"] {
  display : inline-block;
}

[class~="Arrêté"]:before
{
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 10 10" fill="grey"><path d="M4 0c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm-1.5 1.78l1.5 1.5 1.5-1.5.72.72-1.5 1.5 1.5 1.5-.72.72-1.5-1.5-1.5 1.5-.72-.72 1.5-1.5-1.5-1.5.72-.72z" /></svg>') no-repeat;
}
[class~="Arrêté"] {
  color : grey;
  text-decoration : line-through;
  display : inline-block;
}

[class~="En_production"]:before
{
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 10 10" fill="limegreen"><path d="M4 0c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm2 1.78l.72.72-3.22 3.22-1.72-1.72.72-.72 1 1 2.5-2.5z" /></svg>') no-repeat;
}
[class~="En_production"] {
  display : inline-block;
}

/* 
============== VUE DES COMMUTATEURS ==============
*/

.port-Up {
background: url(extensions/CartoFormats/images/port-Up.png) left center no-repeat;
}
.port-Down {
background: url(extensions/CartoFormats/images/port-Down.png) left center no-repeat;
}
.port-Blocked {
background: url(extensions/CartoFormats/images/port-Blocked.png) left center no-repeat;
}

/*
=================== CARTES EN SVG ==================
*/

/* standardisation des liens */
svg a>text{
  fill: initial;
  text-decoration: unset;
}
svg a>text:hover{
  fill: #0000FF;
}
svg a>line{
  stroke-opacity: 0;
}

/*
=============== Salles et baies informatiques =============
*/

.rackline {
    padding-top: 0!important;
    padding-bottom: 0!important;
    line-height: 1em;
}

/*
===================== INFOBOX V3 ====================
*/

/* infobox_V3  */
 
/* En-tête */
 
div.infobox_v3 {
  padding: 5px;
  width: 25em;
  background: #F9F9F9;
  border: 1px solid #AAA;
  clear: right;
  float: right;
  font-size: 0.9em;
  line-height: 1.4em;
  margin: 0 0 0.5em 1em;
  max-width: 325px;
  word-wrap: break-word;
}
 
.infobox_v3 th[scope="row"] {
  max-width: 140px;
  word-wrap: normal;
}
 
.infobox_v3 th[scope="col"] {
  text-align: center !important;
  word-wrap: normal;
}
 
.infobox_v3 .entete {
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.1em;
  margin: 0 0 10px 0 !important;
  padding: 3px 0;
  background-color: #DFEDFF;
  border: 2px solid #DFEDFF;
}
 
.infobox_v3 .entete.icon {
  padding: 13px 50px 12px 50px;
  background-position: right center !important;
  border: 0;
}
 
.infobox_v3.large .entete.icon {
  padding: 13px 10px 12px 10px;
}
 
/* images */
 
.infobox_v3 .images {
  text-align: center;
  display: flex;
  justify-content:space-around;
  align-items:center;
}
 
.infobox_v3 .images a {
  max-width: 100%;
}
 
.infobox_v3 .images img {
  max-width: 99%;
  height: auto;
}
 
.infobox_v3 .legend {
  font-size: 0.9em;
  text-align: center;
  margin: 5px 0 8px 0;
}
 
/* tableaux  */
 
.infobox_v3 table {
  width: 100%;
  margin: 5px 0;
  table-layout: fixed;
  border-collapse: collapse;
}
 
.infobox_v3 th[scope=col].double {
  text-align: left;
}
 
.infobox_v3 th[scope=row] {
  text-align: left;
  vertical-align: super;
  padding-right: 10px;
  /* width: 30%; */
  width: 8em;
}
 
.infobox_v3 th[scope=row],
.infobox_v3 td {
  padding-top: 4px;
  vertical-align: super;
}
 
.infobox_v3 th[scope=row].middle {
  vertical-align: middle;
}
 
.infobox_v3.bordered th[scope=row],
.infobox_v3.bordered td {
  padding-bottom: 4px;
  border-top: 1px solid #DFEDFF;
}
 
.infobox_v3.bordered caption.bordered {
  margin: 0 0 -1px 0;
}
 
.infobox_v3 td.data {
  text-align: center;
}
 
/* titres bloc et caption tableaux  */
 
.infobox_v3 p.bloc,
.infobox_v3 p.bordered,
.infobox_v3 caption {
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  margin: 0 0 5px 0;
  padding: 4px 10px 4px 5px;
}
 
.infobox_v3 caption,
.infobox_v3 p.bloc {
  background: #DFEDFF;
}
 
.infobox_v3 p.bloc {
  margin: 5px 0;
}
 
.infobox_v3 caption.bordered,
.infobox_v3 p.bordered {
  border-top: 1px solid #DFEDFF;
  border-bottom: 1px solid #DFEDFF;
  background: transparent;
}
 
/* TODO : mettre à jour la classe .hidden générique */
 
.infobox_v3 caption.hidden {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1px; /* be kind to IE7*/
  font-size: 1px; /* be kind to IE7*/
}
 
/* Séparateur */
 
.infobox_v3 .hr {
  font-size: 1px;
  line-height: 1px;
  margin: 5px 0;
  background-color: #DFEDFF;
}
 
.infobox_v3 .hr.collapse {
  margin: 5px 0 -8px 0;
  position: relative; /* be kind to IE7*/
}
 
/* tnavbar  */
 
.infobox_v3 .navbar {
  text-align: right !important;
  font-size: 0.8em;
  margin: 0;
}
 
.infobox_v3 .navbar .plainlinks {
  float: left
}
 
/* navigateur  */
 
.infobox_v3 .overflow {
  overflow: hidden;
}
 
.infobox_v3 .bordered.nav,
.infobox_v3 .bordered.navbar {
  border-bottom: 0 !important;
  font-weight: normal !important;
}
 
.infobox_v3 .prev a,
.infobox_v3 .prev_bloc {
  background: url("//upload.wikimedia.org/wikipedia/commons/1/13/Arr_l.png") no-repeat left 0.1em;
  float: left;
  max-width: 40%;
  padding: 0 0 0 16px;
}
 
.infobox_v3 .next a,
.infobox_v3 .next_bloc {
  background: url("//upload.wikimedia.org/wikipedia/commons/a/ad/Arr_r.png") no-repeat right 0.1em;
  float: right;
  max-width: 40%;
  padding: 0 16px 0 0;
  text-align: right;
}
 
/* Divers */
 
#article .infobox_v3 ul,
#bodyContent .infobox_v3 ul,
#mw_content .infobox_v3 ul,
#article .infobox_v3 ol,
#bodyContent .infobox_v3 ol,
#mw_content .infobox_v3 ol {
  text-align: left;
}
 
.infobox_v3 table.maillot-equipe td {
  padding: 0;
}
 
.infobox_v3 table.maillot-equipe {
  table-layout: auto;
}
 
/* Taxobox V3 */
/* cf. [[Utilisateur:Hexasoft/Taxobox code V3]] */
 
 
/* - cette partie concerne le style global - */
 
/* restaure la taille de fonte par défaut */
.taxobox_v3 {
  font-size: 0.99em !important;
  padding: 1px; /* -> reduction du padding : par défaut 5px */
}
.taxobox_v3 .entete.icon {
  padding: 5px 50px 4px 50px;
  background-position: right center !important;
  border: 0;
}
.taxobox_v3.large .entete.icon {
  padding: 5px 10px 4px 10px;
}
 
/* style global par défaut */
div.taxobox_v3 .entete, .taxobox_v3 caption, .taxobox_v3 p.bloc {
  font-style: normal;
}
/* ne pas utiliser le gras dans la partie gauche des lignes données mixtes */
.taxobox_v3 th {
  font-weight: normal;
}
 
/* Change la couleur des séparateur d'un bleu pâle à gris pâle */
div.taxobox_v3.bordered th[scope=row],
div.taxobox_v3.bordered td {
  padding-bottom: 4px;
  border-top: 1px solid #EDEDED;
}
